
# Created by https://www.toptal.com/developers/gitignore/api/macos,sass
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,sass

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# End of https://www.toptal.com/developers/gitignore/api/macos,sass