.container {
    background-color: $booking-color-border151;
    min-height: 100vh; // 회색배경이 전체 뷰포트를 꽉채우도록
    &:not(.order) { //주문서 페이지에서는 필요없음.
        padding-top: $place-tab-height + $place-header-height;
        padding-bottom: $order-box-area-height;
    }
}

.common-inner {
    margin: 0 auto;
    max-width: 720px;
}

.dimmed-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(#000, 0.8);
    z-index: 9999;

    &.light {
        background-color: rgba(0,0,0,0.4);
    }
}

.badge-popular {
    display: inline-block;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    background-color: #ff61a7;
    color: #fff;
}